!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RicochetRobots
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'robots'
    = javascript_pack_tag 'board'
    = csrf_meta_tags
  %body
    - if flash
      - flash.each do |level, message|
        %div{:class => "alert #{flash_level(level)}"}
          %button.close{:"data-dismiss" => 'alert'}= "×"
          = message
    = yield
